.contour {
    border-radius: 3rem;
    box-shadow: 5px 5px 10px #101010, -3px -3px 6px #404040;
    background: linear-gradient(145deg, #2b2b2b, #242424);
    display: flex;
    height: 6rem;
    width: 6rem;
;
}

.boutonPrint {
    justify-content: center;
    border-radius: 2.75rem;
    align-items: center;
    box-shadow: inset 5px 5px 10px #101010, inset -3px -3px 6px #404040;
    background: #282828;
    display: flex;
    margin: auto;
    height: 5.5rem;
    width: 5.5rem;
}

.effet {
    justify-content: center;
    text-transform: uppercase;
    align-content: center;
    border-radius: 2.5rem;
    text-shadow: rgb(252, 122, 1) 0px 1px 1rem;
    align-items: center;
    background: linear-gradient(145deg, #1a1a1a, #161616);
    box-shadow: inset 6px 6px 12px #0a0a0a00, inset -3px -3px 6px #26262600, 6px 6px 12px #0a0a0a, -3px -3px 6px #262626;
    transition: box-shadow 0.5s ease-in-out, color 3s, text-shadow 1s 0.30s;
    display: flex;
    height: 5rem;
    width: 5rem;
    color: rgb(252, 122, 1);
}

.effet:hover {
    text-shadow: 0 0 5px #16161600;
    box-shadow: inset 6px 6px 12px #0a0a0a, inset -3px -3px 6px #262626;
    transition: box-shadow 0.5s ease-in-out, color 2s, text-shadow 0.5s 0.25s;
    opacity: 0.8;
    cursor: pointer;
    color: rgb(54, 38, 23);
}