@use '../components/mixin';

.bandeau {
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem;
    background-color: #fab49b;
    color: rgb(59, 59, 59);


    &__title {
        font-weight: bolder;
        h1 {
            font-size: 1.8em;
            margin: 0.25rem;
        }
        h2 {
            font-size: 1.4em;
            margin: 0.25rem; 
        }
    }

    &__imgBlock {

        width: 25%;
        @include mixin.large {
            max-width:8rem;
    
        }
        @media print {
            max-width: 5rem;
   
           }

        img{
            width: 100%;
        }
        
    }
}