@use '../components/mixin';

.experiences {
    
    color: rgb(59, 59, 59);
    padding: 0.5rem;
    h2{
        color: #fab49b;
        font-size: 1.4em;
        font-weight: bold;
        text-transform: uppercase;
    }
    h3{
        
        font-size: 1.2em;
        font-weight: bold;
        text-transform: uppercase;
        padding: 0.25rem;
        em{
            font-size: 0.6em;
        }
    }
    p{
        padding: 0.5rem;
    }


    


    }