@use '../components/mixin';

.informations {

    padding: 0.5rem;
    background-color: rgb(59, 59, 59);
    color: white;
    @include mixin.large {
        max-width:12.5rem;

    }
    @media print {
        color: black;

       }
    h2{
        color: #fab49b;
        font-size: 1.4em;
        font-weight: bold;
        text-transform: uppercase;
    }
    h3{
        color: #fab49b;
        font-size: 1.2em;
        font-weight: bold;
        text-transform: uppercase;
    }
    p{
        padding: 0.5rem;
    }
    a {
        color: white;
        @media print {
            color: black;
            text-decoration: none;
   
           }
        
    }
    .special{
        @include mixin.large{
            padding-top: 5rem;
            
        } 


    }

    
}




