@use '../components/mixin';

.information {
   
    
   
    padding: 1rem;
    padding-top: 0.5;
    background-color: rgb(59, 59, 59);
    color: white;

    &__style {
        font-size: 1.1em;
        margin: 0.25rem;
        h2{
            color: #fab49b;
            font-weight: bolder;
            
        }
    
    }
    &__list {

    }

}