@use '../components/mixin';
body {
    font-family: 'Lexend Deca', sans-serif;
}
h1 {
    font-size: 1.5em;
    margin: 0.25rem;
}
h2 {
    font-size: 1.2em;
    margin: 0.25rem;
    
}

p,h3{

    margin: 0.25rem;
   
}
li {
  
}
.bold {
    font-weight: bold;
    text-transform: uppercase;
}


    


a {
    color: rgb(250, 250, 250);

}

main {
    display: flex;
    flex-direction: column;
}

.smallDesc {
    font-size: 0.8em;
}
.liens{
    line-height: 2rem;
}

.hidden {
    display: none;

}

