@use '../components/mixin';
body {
    font-family: 'Lexend Deca', sans-serif;
}

main{
    @include mixin.large {
        display: flex;
        align-items: stretch;
        h2{
            padding: 1rem;
        }
    }
    @media print {
    font-size: 0.9em;
        .noprint{
            display: none;
        }

       }

    
}

.hidden {
    display: none;
    @include mixin.large{
        display: block;
    }

}

